<div class="columns">
  <div class="column is-8">
  <h3 class="title is-5 has-text-grey-light">Discussions in category <%= @category.title %></h3>
  <%= render 'discussions/search_form' %>
  <%= render 'shared/discussions'%>
  <%= render 'discussions/sidebar' %>
</div>
